#python specific

*.pyc

## Generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.swo
*.out
*.c
*.o
*.so
*.ipynb
*.coverage
*.nfs*
*.png
*.prof
*.egg-info
/figs/*.html
/tests/*.txt


config.cfg

/build
/doc/build
/dist

